#main {
    display: flex;
    flex-direction: column;
    /* TODO: set header height */
    height: calc(100vh - 68.5px);
    width: 100%;
}
#tabsContainer {
    height: 3rem;
    border-top: solid var(--accent) 1px;
}
#tabs {
    display: flex;
    justify-content: space-evenly;
}
.tab {
    box-sizing: border-box;
    flex-grow: 1;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    border-bottom: 4px solid var(--primary-bg)
}
#currentTab {
    border-bottom-color: var(--primary-color)
}

#contentContainer {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.transcriptSegment {
    margin: 1rem 0;
    cursor: pointer;
}
.highlightTranscriptSegment {
    color: var(--highlight-color);
}
#transcript {
    overflow: auto;
    align-self: auto;
    padding: 0 1rem;
    height: inherit;
    flex-grow: 1;
    position: relative;
}
/* #manualScrollContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
} */
#manualScroll {
    position: sticky;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: fit-content;

}
@media screen and (min-width: 64rem) {
    #contentContainer {
        flex-direction: row;
    }
    #video {
        flex: 0 0 40rem;
        min-width: 0;
    }
    #transcript {
        padding: 0 2rem;
    }
}