@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: dark light;
  --primary-bg: #000;
  --primary-color: #aaa;
  --highlight-color: #88f;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light dark;
    --primary-bg: #fff;
    --primary-color: #555;
    --highlight-color: #007;
  }
}

html, body {
  height: 100%;
  margin: 0;
  --page-width: 80rem;
}
.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: var(--primary-bg);
  color: var(--primary-color);
}

main {
  flex-grow: 1;
}

footer {
  position: sticky;
  top: 100%;
}