#main {
    display: flex;
    flex-direction: column;
    /* TODO: set header height */
    /* height: calc(100vh - 68.5px); */
    min-height: 0;
}
#tabsContainer {
    border-top: solid var(--accent) 1px;
}
#tabs {
    display: flex;
    justify-content: space-evenly;
}
.tab {
    box-sizing: border-box;
    flex-grow: 1;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    border-bottom: 4px solid var(--primary-bg)
}
#currentTab {
    border-bottom-color: var(--primary-color)
}

#contentContainer {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
}
.transcriptSegment {
    margin: 1rem 0;
    cursor: pointer;
}
.highlightTranscriptSegment {
    color: var(--highlight-color);
}
#transcript {
    overflow: auto;
    align-self: auto;
    padding: 0 1rem;
    height: 100%;
    flex-grow: 1;
    position: relative;
}
#manualScroll {
    position: sticky;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: fit-content;

}
#loading {
    text-align: center;
    margin-top: 4rem;
}
.resetFont {
    font-size: revert;
    margin: revert;
    font-weight: revert;
}
#videoInfo {
    display: none;
}
#title {
    font-size: 1.5rem;
    margin: 0.4rem 0;
}
#video {
    width: 100%;
    max-width: 32rem;
}
@media screen and (min-width: 48rem) {
    #contentContainer {
        flex-direction: row;
        max-width: none;
    }
    #player {
        flex: 0 0 50%;
        min-width: 0;
    }
    #video {
        max-width: none;
        width: 100%;
    }
    #transcript {
        padding: 0 2rem;
    }
    #videoInfo {
        display: block;
    }
    #main {
        padding: 0 1rem;
    }
}